.header {
    padding: 10px;
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    padding: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}